.landing {
  background-image: url("../assets/backgrounds/h_img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  color: #fff;
  width: 100%;
  padding: 5% 0;
}

.landing-btn{
  padding: 15% 0;
}

.about{
  padding: 5% 0;
}


.what{
  padding: 2% 0;
}

.services {
  background-image: url("../assets/backgrounds/s_image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
  color: #fff;
  width: 100%;
  padding: 5% 0;
}


.contact {
  background-image: url("../assets/backgrounds/c_image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
  color: #fff;
  width: 100%;
  padding: 5% 0;
}


.contact input{
  background: none;
  padding: 25px;
  border: 1.5px solid #fff;
}

.contact textarea{
  background: none;
  padding: 25px;
  border: 1.5px solid #fff;
}

::placeholder {
  color: #fff !important;
  font-size: 1.1rem;
}

#p1, #p2, #p3{
  display: none;
}


/* loading */
.contact .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}

.contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}

/* Error Message */

.contact .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .error-message br + br {
  margin-top: 25px;
}


/* Sent Message */
.contact .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .error-message br + br {
  margin-top: 25px;
}

/* Portfolio */

.hoover, .hoover1, .hoover2, .hoover3{
  height: 70%;
  width: 70%; 
  /* margin:5%; */
  background: none;
  top: 0px;
  border:10px solid #fff;
  color: #fff;
  text-align: left;
  padding: 20px;
  display: none;
}

/* .overlay{
  background: rgba(0,0,0,1);
  z-index: 1000;
} */